body {
    font-size: 20px;
    font-family: cursive;
}
.box01 {
    border-top:3px solid black;
    border-right:5px dashed tomato;
    border-bottom:8px double green;
    border-left:5px dotted yellow;

    margin-bottom: 20px;
}

.estilo {
    border-style: dotted;
}

.espessura {
    border-width: 10px;
}

.cor {
    border-color: tomato;
}

.fundo {
    background-color: deepskyblue;
}

.bart {
    background-color: gray
    widht: 100px;
    height: 100px;
    border-radius: 50px;
}